*, * *{
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
	color: #707070;
	transition: ease .2s;
}

html, body{
	width: 100%;
}

p, h1, h2, a, body, li{
	font-family: "lato", "sans-serif";
	font-size: 16px;
}

.colors{
	Background: #ffffff;
	Alt. background: #21212e;


	Brødtekst: #707070;
	Alt. brødtekst: #ffffff;

	Contrast: #0D76BD;
}

.flex{
	display: flex;
}

.space-between{
	justify-content: space-between;
}

.flex-end{
	align-items: flex-end;
}

.vcenter{
	align-items: center;
}






.wrapper{
	width: 1300px;
	margin: auto;
	height: inherit;
}

.blue-bar{
	background-color: #0D76BD;
	display: block;

	height: 40px;
}

.blue-bar i{
	padding-right: 10px;
}

.blue-bar p, .blue-bar i {
	color: #fff;
	font-size: 14px;
}

.blue-bar .seperator:nth-child(2) p:first-child{
	padding-top: 4px;
}

.blue-bar .seperator:nth-child(2) i{
	font-size: 12px;
	padding: 4px;
	padding-top: 6px;
}

.blue-bar .seperator:nth-child(2) i:hover{
	color: #000;
}

.blue-bar .seperator p{
	display: inline-block;
	margin-right: 20px;
}

nav{
	background-color: #fff;
	height: 90px;
	padding-top: 15px;
	padding-bottom: 20px;

	justify-content: space-between;
	align-items: flex-end;
}

nav .logo{
	height: 90px;
	margin-bottom: 15px;
	transition: ease .4s;
}

nav .logo:hover{
	transition: ease .4s;
	opacity: .75;
}

nav li a{
	padding: 15px 10px;
	margin-right: 20px;
}

nav i{
	margin-left: 10px;
	color: #0D76BD;
}

/* burger start */

.ham {
	position: relative;
	z-index: 2;
	width: 3rem;
	height: 3rem;
	background: white;
	cursor: pointer;
}

.xIcon {
	display: none;
}

.menu {
	position: fixed;
	top: 0;
	right: -10%;
	width: 10%;
	height: 100vh;
	background: #21212e;
	transform: translateX(-100%);
	transition: transform 0.2s;
	list-style: none;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.menu > li {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.menuLink {
	color: white;
}

.showMenu {
	transform: translateY(0);
}
/* burger slut */

.button{
	background-color: #0D76BD;
	border: solid 1px #0D76BD;
	border-radius: 50px;
	padding: 15px;
	margin-left: 20px;
	color: #fff;
	transition: ease .4s;
}

.button:hover{
	transition: ease .4s;
	color: #0D76BD;
	background-color: #fff;
}


article{
	min-height: 500px;
}

article:nth-child(2){
	background-color: #21212e;
}

article h2{
	font-family: oswald;
	font-size: 40px;
	margin-left: 20px;



	margin-top: 125px;
}

article p{
	font-size: 16px;
	width: 500px;
	line-height: 1.5;
	margin-top: 30px;
	margin-left: 20px;
}

article img{
	width: 600px;
	height: 375px;
	background-color: #eee;
	display: block;
	border: solid 1px #21212e;
	box-shadow: 3px 5px 15px  #21212e;


	margin-top: 105px;
}

article:nth-child(2) img{
	border: solid 1px #000;
	box-shadow: 3px 3px 15px  #000;
}

article ul{
	margin: auto;
	margin-top: 25px;
	width: 100px;
	margin-bottom: 80px;
}

article:nth-child(1) ul li{
	width: 16px;
	height: 16px;
	background-color: #fff;
	border: 1px solid #21212e;
}

article li{
	display: block;
	border-radius: 30px;
	background-color: #eee;
	width: 20px;
	height: 20px;
	margin: 0px 7px;
	cursor: pointer;
}

article:nth-child(1) ul .selected{
	background-color: #21212e;
}

.completed, .completed div{
	background-color: #0d76bd !important;
}

article:nth-child(2) p, article:nth-child(2) h2{
	color: #fff;
}

article:nth-child(2) li div{
	height: 3px;
	width: 20px;
	background-color: #eee;
	margin-left: -14px;
	margin-top: 9px;
}

article:nth-child(2) ul{
	width: 290px;
}

.step-nav{
	position: absolute;
	background-color: #fcfcfc;
	height: 50px;
	width: 50px;
	border-radius: 25px;
	display: flex;
	align-items: center;
	justify-content: center;

	margin-top: 250px;
}

.step-nav i{
	text-align: center;
	font-size: 50px;
	padding-right: 5px;
	color: #21212e;
	cursor: pointer;
}

.step-nav:nth-child(2) i{
	text-align: center;
	font-size: 50px;
	padding-right: 0;
	padding-left: 5px;
}

#back-0, #back-1, #back-2, #back-3, #back-4, #back-5, #back-6, #back-7,#back-8{
	margin-left: -100px;
}

#next-0, #next-1, #next-2, #next-3, #next-4, #next-5, #next-6, #next-7{
	margin-left: 1400px;
}

footer{
	padding-top: 100px;
	height: 400px;
	display: block;
	background-color: #000;
	color: #fff;
}

footer .logo{
	max-height: 90px;
	margin-top: 20px;
	margin-right: 40px;
	transition: ease .4s;
}

footer .logo:hover{
	transition: ease .4s;
	opacity: .85;
}

.footer-links{
	border-top: solid 1px #21212e;
	width: 220px;
	display: block;
	height: 250px;
}

.footer-links p a{
	display: inline-block;
	line-height: 32px;
	color: rgba(255,255,255,.65);
	width: 220px;
	transition: ease .3s;
}

.footer-links p a:hover{
	color: #fff;
	transition: ease .2s;
}

.footer-links p:first-child{
	margin-top: 25px;
	margin-bottom: 10px;
	color: #fff;
}

.footer-links p:first-child a{
	color: #fff;
}

.copyright{
	border-top: 1px solid #21212e;
	height: 100px;
	background-color: #000;
}

.copyright .seperator{
	width: 433px;
}

.copyright p{
	margin-right: 20px;
	font-size: 14px;
}

.copyright .seperator:nth-child(2) p:nth-child(1), .copyright .seperator:nth-child(2) p:nth-child(2){
	padding-top: 4px;
}

.copyright i{
	margin-right: 10px;
	font-size: 12px;
	padding: 4px;
	padding-top: 6px;
	transition: ease .2s
}

.copyright a {
	font-size: 14px;
}

.copyright a i:hover, .copyright a:hover{
	color: #0D76BD;
	transition: ease .2s
}

.copyright p, .copyright i, .copyright a{
	color: #fff;
}

.copyright .seperator:nth-child(3) p{
	text-align: right;
}

.copyright .seperator:nth-child(3) a{
	color: #0D76BD;
}
